@model Medicare.Models.Manufacturar

@{
    
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Manufacturar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ManufacturarName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManufacturarName, new { htmlAttributes = new { @class = "form-control",@id="ManufacturerName" } })
                @Html.ValidationMessageFor(model => model.ManufacturarName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
        <div><label style="color: green"> @ViewBag.successMessage</label></div>
        <div><label style="color: red">@ViewBag.errorMessage</label></div>
        <div><label style="color: red">@ViewBag.ExceptionMessage </label></div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script>
        

        $(document).ready(function() {
            $('#ManufacturerName').keyup(function () {
                var manuName = $(this).val();

                if (manuName.length >= 3) {
                    $.ajax({
                        url: '@Url.Action("IsNameExist", "Manufacturars")',
                        method: 'post',
                        data: { manufacturar: manuName },
                        dataType: 'json',
                        success: function (manufacturar) {
                            var divElement = $('#divOutput');
                            if (manufacturar== 1) {
                                divElement.text('name already in use');
                                divElement.css('color', 'red');
                            }
                            else {
                                divElement.text('Name available');
                                divElement.css('color', 'green');
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    });
                }
            });
        });
    </script>*@
}
